/*
LABORATORY EXERCISE #4

Objective:
Edit this CSS file to design and style the different web pages.

Important:
You are NOT allowed to modify or change any of the HTML files.
All design and layout changes must be done using CSS only.

Guidelines:
1. Some elements do not have classes or IDs (for example, the list of steps in making coffee).
   To style these elements, use contextual selectors, element selectors,
   attribute selectors, or other appropriate CSS selector techniques.

2. Before writing your CSS, it is highly recommended to create a simple
   wireframe or layout plan. This will help you organize your design,
   improve consistency, and ensure that all members of your group
   are aligned and on the same page regarding the overall design.

3. You are not required to style every single class or ID.
   Your main goal is to create a website that is visually appealing,
   well-organized, and user-friendly.

Focus on applying proper CSS techniques such as:
- Typography
- Spacing (margin and padding)
- Layout
- Colors
- Alignment



*/
@import url("https://fonts.googleapis.com/css2?family=Outfit");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One");
@import url("https://fonts.googleapis.com/css2?family=Fascinate");
@import url("https://fonts.googleapis.com/css2?family=Alegreya");
@import url("https://fonts.googleapis.com/css2?family=Norican");
@import url("https://fonts.googleapis.com/css2?family=Dongle");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash");
@import url("https://fonts.googleapis.com/css2?family=Marcellus");


/* Common Styles */
.home {
   margin: 0;
   margin-top: -20px;
   background-color: #e4cdb0;
   color: #fbfcee;
   position: relative;
}

.order {
   margin: 0;
   margin-top: -20px;
   background-color: #e4cdb0;
   color: #fbfcee;
   position: relative;
}

.about {
   margin: 0;
   margin-top: -20px;
   background-color: #e4cdb0;
   color: #fbfcee;
   position: relative;
}

hr {
   border: none;
   height: 3px;
   margin-top: -20px;
}



header {
   background-color: #dacdb1;
}

#title {
   text-align: center;
   color: #4a2908;
   font-family: "Fascinate";
   font-size: 30px;
   padding: 20px 0px 20px 0px;
   border-top: 10px solid #dacdb1;
   border-bottom: 10px solid #dacdb1;
   border-left: 20px solid #dacdb1;
   border-right: 20px solid #dacdb1;
}

#banner {
   position: relative;
   top: 0;
   z-index: 1;
   width: 100%;
   height: 300px;
   object-fit: cover;
   object-position: left center;
}

.imgBanner {
   margin-top: 45px;
   width: 120%;
   
}

#welcome {
   position: absolute;
   display: block;
   top: 7%;
   left: 0%;
   right: 44%;
   color: #fbfcee;
   font-family: "Alegreya";
   font-size: 30px;
   text-align: left;
   padding: 50px 20px 50px 20px;
   /* border: 2px solid #fbfcee; */
   border-top-right-radius: 100px;
   border-bottom-right-radius: 100px;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 2;
}

.navBar {
   /* top: 1%; */
   position: absolute;
   display: flex;
   width:100%;
   justify-content: center;
   gap: 150px;
   padding: 10px 0;
   z-index: 3;
   background-color: #4a2908;
}

.navigation{
   color: #fbfcee;
   text-decoration: none;
   font-family: "Dongle";
   font-size: 30px;
}

.navigation:hover{
   color: #4a2908;
   background-color: #dacdb1;
   padding: 0px 10px 0px 10px;
   border: 2px solid #825423;
   border-radius: 5px;
}

a[href="#bottomPage"]{
   display: block;
   width: max-content;
   margin: 5px auto 25px auto;
   color: #4a2908;
   font-weight: bold;
   text-decoration: none;
   padding: 5px 10px;
   border-radius: 5px;
   background-color: white;
   padding-top: 10px 15px;
}

a[href="#bottomPage"]:hover{
   color: #dacdb1;
   background-color: #4a2908;
}

/* Home */
.coffee {
   margin: 0px;
}

h2 {
   margin: 0;
   text-align: center;
   font-family: "Dongle";
   font-size: 50px;
   color: #895129;
   border: 10px solid #895129;
}

.coffee ol {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(5, auto);
   grid-auto-flow: column;
   list-style-position: inside;
   padding-left: 50px;
   padding-right: 50px;
   gap: 30px;
}

.home .coffee li {
   border-radius: 10px;
   background-color: #895129;
   padding: 25px;
   font-family: "Alegreya";
   font-size: 20px;
   text-align: justify;
}

.coffee li::marker{
   font-weight: bolder;
}

.emphasis {
   color: #fbfcee;
   font-weight: bold;
   font-style: italic;
   background-color: #4a2908;
}

p.definition {
   padding: 25px;
   text-align: justify;
   text-indent: 50px;
   color:#4a2908;
   font-size: 20px;
   font-family: "Alegreya";
   max-width: 900px;
   margin: 30px auto;
   background: white;
   border-radius: 10px;
   box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.home .coffee img{
   display: block;
   margin: 0 auto;
   width: 300px;
   height: 300px;
   border-radius: 50%;
}

#orderCoffee {
   display: block;
   margin: 20px auto;
   padding: 5px 20px;
   font-family: "Dongle";
   font-size: 30px;
   background-color: #fbfcee;
   color: #4a2908;
   border-radius: 10px;
   cursor: pointer;
}

#orderCoffee:hover{
   color: #4a2908;
}

p#bottomPage.definition{
   text-indent: 50px;
   text-align: justify;
}

a[href="#title"]{
   display: block;
   width: max-content;
   margin: 5px auto 25px auto;
   color: #4a2908;
   font-weight: bold;
   text-decoration: none;
   padding: 5px 10px;
   border-radius: 5px;
   background-color: white;
   padding-top: 10px 15px;
}

a[href="#title"]:hover{
   color: #dacdb1;
   background-color: #4a2908;
}

p#title {
   color: #dacdb1;
   background-color: #4a2908;
   margin: 0;
   padding: 20px 0px 20px 0px;
   border-top: 10px solid #4a2908;
   border-bottom: 20px solid #4a2908;
   border-left: 20px solid #4a2908;
   border-right: 20px solid #4a2908;
}

footer {
   text-align: center;
   font-family: "Marcellus";
   color: #dacdb1;
   background-color: #4a2908;
   padding: 0px 0px 0px 0px;
   border-top: 0px solid #4a2908;
   border-bottom: 10px solid #4a2908;
   border-left: 20px solid #4a2908;
   border-right: 20px solid #4a2908;
}

/* Order */
.order .coffee #tagline {
   /* display: inline-block; */
   white-space: nowrap;
   position: relative;
   /* text-align: center; */
   font-family: "Alegreya";
   color:#4a2908;
   font-size: 25px;
   background-color: rgba(255, 255, 255, 0.3);
   margin: -20px 0px 10px 0px;
   text-align: center;
   /* animation: slideLoop 25s linear infinite; */
}

/* @keyframes slideLoop {
   0% { left: 100%;}
   100% {left: -100%;}
   
} */

#coffee_choices {
   width: 100%;
   padding: 0px 20px 0px 20px;
}

.coffeeTitle {
   text-align: center;
   padding: 30px 10px 15px 10px;
   font-family: "Alegreya";
   font-size: 30px;
   color: #693714;
}

.coffeeImg {
   padding: 0px 20px;
   width: 80px;
   height: 80px;
   border-radius: 50%;
}

.coffee td {
   width: 50px;
   text-align: center;
}

.order .label {
     padding: 5px 10px;
     text-align: center;
     font-family: "Dongle";
     font-size: 30px;
     line-height: 20px;
     color: #4a2908;
     background-color: rgba(255, 255, 255, 0.2);
     border-radius: 100px;
}

.coffee form{
   text-align: center;
   padding: 25px;
   max-width: 900px;
   margin: 30px auto;
   background: white;
   border-radius: 10px;
   box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.coffee form label {
   font-family: "Alegreya";
   font-size: 15px;
   color: #4a2908;
   font-weight: 500;
}

.coffee form input[type="submit"]{
   font-family: "Dongle";
   font-size: 25px;
   padding: 0px 50px;
}

/* About */
.about .coffee {
   width: 100%;
   text-align: center;
}

.about .coffee #banner {
   width: 300px;
   height: 300px;
   border-radius: 50%;
   padding-top: 0px;
}

.about .coffee p{
   font-family: "Alegreya";
   text-align: center;
   font-size: 30px;
   padding: 5px 50px 10px 50px;
   font-weight: 500;
}

.about .coffee ul{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   list-style: none;
   padding: 50px 20px 50px 30px;
   gap: 10px;
}

.about .coffee li{
   border-radius: 20px;
   border: 3px solid #825423;
   background-color: #4a2908;
   padding: 10px 0px 10px 0px;
   text-align: center;
}

.coffeeVideo {
   width: 300px;
}

.about .coffee table {
   padding: 50px 0px 100px 0px;
   width: 100%;
   text-align: center;
}

.about .coffee table td {
   width: 100px;
   height: 100px;
}

.about .coffee .teamMember {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: 5px solid #4a2908;
}

.about .coffee .label {
   width: 100px;
   height: 0px;
   color: #4a2908;
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 100px;
   font-style: italic;
}

.about .coffee .term {
   color: #fbfcee;
   font-weight: bold;
   font-style: italic;
   background-color: #4a2908;
}

.about .coffee em {
   color: #fbfcee;
   font-weight: bold;
   font-style: italic;
   background-color: #4a2908;
}


.about .coffee img {
   width: 300px;
   height: 300px;
   border-radius: 50%;
}

.about .coffee .definition {
   margin-top: 10px;
   font-size: 20px;
   line-height: 1.8;
   text-align: justify;
   max-width: 900px;
   margin: 30px auto;
   padding: 25px;
   background: white;
   border-radius: 10px;
   box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
